
/*
 Colors:
 Light Blue: #71F4FF   Ratio: 2.07
 Darker Blue: #037FB0  Ratio: 4.5
 Yellow: #fdec03       Ratio: 1.22
*/

body {
	background-color: #71F4FF;
}

h1, h2, h3{
	text-align: center;
}

p.picture{
	text-align: center;
}


p{
	padding: 12px;
}

th, td{
	border: #037FB0 solid 3px;
	padding: 5px;
	text-align: center;
}

table{
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

a:hover{
	color: #fdec03 ;
}

a{
	color:#037FB0 ;
	font-weight: bold;
}